jupyter
## 01
transformers
torch
# model_path = "cardiffnlp/twitter-xlm-roberta-base-sentiment"
sentencepiece
protobuf
##  02
nltk
## 03
pandas
wordcloud
plotly
scikit-learn
scikit-plot
## 05
datasets
umap-learn
## 06
accelerate
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117
python-dotenv